allow bootanim vendor_file:file { read open execute getattr };
allow bootanim sysfs_kgsl:dir { search };
allow bootanim system_data_file:dir { read };
