allow cnd diag_prop:property_service set;
allow cnd sysfs:file { read open };
get_prop(cnd, diag_prop);
allow cnd default_android_hwservice:hwservice_manager add;
allow cnd hal_cne_hwservice:hwservice_manager find;
