allow hwservicemanager init:dir search;
allow hwservicemanager init:binder { call transfer };
allow hwservicemanager init:file { read open };
allow hwservicemanager init:process getattr;
allow hwservicemanager thermal-engine:binder call;
allow hwservicemanager thermal-engine:dir search;
allow hwservicemanager thermal-engine:file { open read };
allow hwservicemanager thermal-engine:process getattr;
