allow init debugfs:dir mounton;
allow init sensors_data_file:dir mounton;
allow init persist_drm_file:dir mounton;
allow init proc_kernel_sched:file rw_file_perms;
allow init vendor_file:file { execute execute_no_trans };

allow init sysfs:file { setattr };

#allow init firmware_file:dir { create_dir_perms setattr };
#allow firmware_file rootfs:filesystem associate;
allow init sysfs_mmc_host:file { setattr w_file_perms };
allow init vendor_toolbox_exec:file execute_no_trans;
allow init adbd:process noatsecure;
allow init hwservicemanager:binder { call transfer };
allow init default_android_hwservice:hwservice_manager { add find };
allow init hidl_base_hwservice:hwservice_manager { add };
allow init sysfs:file { read };
allow init thermal_device:chr_file { write };
allow init hal_thermal_hwservice:hwservice_manager { add };
allow init init:netlink_kobject_uevent_socket { create };
allow init init:socket { create };

allow init diag_device:chr_file { ioctl open read write };
allow init hal_dpmQmiMgr:binder { call transfer };
allow init hal_dpmqmi_hwservice:hwservice_manager find;
allow init hal_light_hwservice:hwservice_manager add;
allow init netutils_wrapper_exec:file { execute execute_no_trans getattr open read };
allow init self:netlink_route_socket { bind create nlmsg_read read write };
allow init self:rawip_socket { create getopt setopt };
allow init socket_device:sock_file { create setattr };
allow init sysfs_graphics:file { open write };
allow init system_file:file execute_no_trans;
allow init tmp_root_mount_file:dir mounton;
allow init vfat:dir { open read search };
allow init vfat:file { getattr open read };

allow init hal_drm_hwservice:hwservice_manager { add };

allow init hal_power_hwservice:hwservice_manager { add };
allow init hal_perf_hwservice:hwservice_manager { find };
allow init hal_perf_default:binder { call };

allow init init:binder { call };
allow init system_file:file { mounton };
allow init hal_thermal_hwservice:hwservice_manager { find add }; 
