type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket2";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket3";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket4";
allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad sysfs_graphics:file r_file_perms;
allow mm-qcamerad sysfs_graphics:dir r_dir_perms;
allow mm-qcamerad camera_data_file:dir { add_name remove_name write };
allow mm-qcamerad sysfs:file { read open };
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad default_prop:property_service set;
allow mm-qcamerad diag_device:chr_file { open read write ioctl };
allow mm-qcamerad system_prop:property_service set;
allow mm-qcamerad vendor_default_prop:property_service { set };
