allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app bluetooth_prop:file read;
allow priv_app bootloader_boot_reason_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app cnd_vendor_prop:file read;
allow priv_app console_silent_prop:file read;
allow priv_app firstboot_prop:file read;
allow priv_app fm_prop:file read;
allow priv_app fst_prop:file read;
allow priv_app graphics_vulkan_prop:file read;
allow priv_app hvdcp_opti_prop:file read;
allow priv_app lowpan_prop:file read;
allow priv_app mm_parser_prop:file read;
allow priv_app mm_video_prop:file read;
allow priv_app mmc_prop:file read;
