allow rild diag_prop:property_service set;
get_prop(rild, diag_prop);

allow rild vendor_file:file { r_file_perms ioctl };
allow rild system_prop:property_service set;
allow rild tombstone_data_file:dir search;
