allow servicemanager mediaswcodec:dir { search };
allow servicemanager mediaswcodec:file { read open };
allow servicemanager mediaswcodec:process { getattr };
