allow system_app sysfs_gesture:file rw_file_perms;
allow system_app vendor_file:file rx_file_perms;
allow system_app sysfs_fpc_proximity:file { rw_file_perms };
allow system_app sysfs_fpc_key:file { rw_file_perms };
allow system_app time_daemon:unix_stream_socket connectto;
allow system_app default_prop:property_service set;
allow system_app default_android_service:service_manager add;
allow system_app bg_boot_complete_prop:file read;
allow system_app bg_daemon_prop:file read;
allow system_app bootloader_boot_reason_prop:file read;
allow system_app boottime_prop:file read;
allow system_app cnd_vendor_prop:file read;
allow system_app console_silent_prop:file read;
allow system_app ctl_LKCore_prop:file read;
allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file read;
