allow tee fingerprintd_data_file:dir { add_name open read search write };
allow tee fingerprintd_data_file:file create;
allow tee system_data_file:dir { open read };
