rw_dir_file(ueventd, sysfs_bluetooth_writable)

allow ueventd sysfs_devices_fingerprint:file { open read write };
allow ueventd tmp_root_mount_file:dir search;
allow ueventd vfat:file { getattr open read };
