allow untrusted_app_27 adbtcp_prop:file read;
allow untrusted_app_27 apk_data_file:file setattr;
allow untrusted_app_27 bg_boot_complete_prop:file read;
allow untrusted_app_27 bg_daemon_prop:file read;
allow untrusted_app_27 bluetooth_prop:file read;
allow untrusted_app_27 bootloader_boot_reason_prop:file read;
allow untrusted_app_27 boottime_prop:file read;
allow untrusted_app_27 cnd_vendor_prop:file read;
allow untrusted_app_27 console_silent_prop:file read;
allow untrusted_app_27 ctl_LKCore_prop:file read;
allow untrusted_app_27 proc_vmstat:file { getattr open read };
allow untrusted_app_27 runtime_event_log_tags_file:file { open read };
